section {
    width: 600px;
    margin: auto;
    font-size: 18px;
    line-height: 25px;
}

header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    text-align: center;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h2, h3 {
    margin: 15px 0 5px;
}

a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background: url(../img/so.png) no-repeat center left;
}

a[href^="https://www.linkedin.com"] {
    padding-left: 20px !important;
    background: url(../img/lin.png) no-repeat center left;
}

a[href*="github."] {
    padding-left: 20px !important;
    background: url(../img/gh.png) no-repeat center left;
}

.add-resume {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 350px;
    margin-bottom: 30px;
}

.name {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
}

.org-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.period-position-description {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 25px;
}

.field-label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 25px;
}

.dates {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    min-width: 150px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    min-width: 450px;
}

.description {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

.warning {
    border-color: red;
}